.avatar {
  margin: 20px;
  border-radius: 50%;
}

.image-gray-border {
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 10px;
}

.personal-no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
}

.avatar-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  padding-left: 20px; /* Adjust spacing between avatar and profile info */
  align-content: center;
}

.name {
  font-size: 24px;
  margin: 0; /* Remove default margin */
}

.bio {
  margin-top: 5px; /* Adjust spacing between name and bio */
  margin: 0;
}
